<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
    <a class="navbar-brand" routerLink="/products">Shop</a>
    <div class="navbar-collapse">
      <ul class="w-100 navbar-nav ml-auto justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart ({{ cartItemCount }})</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngStyle]="{'cursor': 'pointer'}" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>