.cart-container {
    margin-top: 20px;
    .cart-item {
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
      .row {
        align-items: center;
      }
    }
    .total {
      margin-top: 20px;
      text-align: right;
    }
  }
  